

.plusbas0,.plusbas2,.plusbas3,.plusbas4,.plusbas6,.plusbas7,.plusbas8{
font-size: 14px;
}

body {background-color:grey;
}
.row {
    background-color: white;
  }
.plusbas0 {margin-top:40px;
}
.mt-row1 {
    margin-top: 0 !important;




